<div class="row">
  <div class="col-sm-2">{{todo.id}}</div>
  <div class="col-sm-4">
    <div *ngIf="editMode">
      <input [(ngModel)]="todo.title">
    </div>
    <div *ngIf="!editMode">
      <label (click)="editMode = !editMode" style="cursor: pointer;">{{todo.title}} </label>
    </div>
  </div>
  <div class="col-sm-4">
    <div *ngIf="editMode">
      <input [(ngModel)]="todo.details">
    </div>
    <div *ngIf="!editMode">
      <label (click)="editMode = !editMode" style="cursor: pointer;">{{todo.details}} </label>
    </div>
  </div>
  <div class="col-sm-2">
    <span *ngIf="editMode">
      <span class="text-button" (click)="toggleTodo(todo); editMode = !editMode" style="margin-right: 10px; color:green">&radic;</span>
    </span>
    <span class="text-button" style="color:red" (click)="removeTodo(todo)">&times;</span>
  </div>
</div>